/**
 * Design system
 * Using Pollen as a foundation
 * https://pollen.style
 */
:root {
  /* Typography */
  --font-family-sans: "Inter", sans-serif;

  /* Colours */
  --color-text: var(--color-black);
  --color-text-secondary: #6f7487;
  --color-primary: #d71673;

  /* Layout — Page */
  --content-max-width: 80rem;
  --page-gutter: 6vw;
  --page-gutter-offset: calc(0px - var(--page-gutter));
  --grid-page: minmax(var(--page-gutter), 1fr)
    minmax(0, var(--content-max-width)) minmax(var(--page-gutter), 1fr);
  --grid-content: repeat(12, 1fr);

  /* Layout — Constants */
  --grid-gap: 1rem;

  @media (--tablet) {
    --grid-gap: 12px;
  }
}
