/**
 * Design system
 * Using Pollen as a foundation
 * https://pollen.style
 */
:root {
  /* Typography */
  --font-sans: "Inter", sans-serif;
  --letter-xxs: -0.0175em;

  /* Colours */
  --color-text: var(--color-black);
  --color-text-secondary: #6f7487;
  --color-primary: #bb184c;

  /* Layout */
  --grid-page-gutter: 6vw;
  --grid-gap: 1rem;

  @media (--tablet) {
    --grid-gap: 12px;
  }
}
